/*logo form organik*/
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 20px 0;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--text2-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
/*---------------------------------------------*/
/*logo isi data*/
.dash-data .title{
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;
}
.dash-data .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-data .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--box1-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
/*---------------------------------------------*/
/*logo data sampah*/
.dash-co .title{
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;
}
.dash-co .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-co .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--box3-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
/*---------------------------------------------*/
/*logo data komposing*/
.dash-kom .title{
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;
}
.dash-kom .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-kom .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--box7-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
/*---------------------------------------------*/
/*card isi data*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: solid var(--border1-color);
    background-clip: border-box;
    border-radius: 15px 15px 15px 15px;
}
/*---------------------------------------------*/
/*card data sampah*/
.card-o{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: solid var(--box3-color);
    background-clip: border-box;
    border-radius: 15px 15px 15px 15px;
}
/*---------------------------------------------*/
/*card data komposing*/
.card-kompo{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: solid var(--media-color);
    background-clip: border-box;
    border-radius: 15px 15px 15px 15px;
}
/*---------------------------------------------*/
.card-sd{
    position: relative;
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    border: solid var(--panel1-color);
    background-clip: border-box;
    border-radius: 15px 15px 15px 15px;
}
/*---------------------------------------------*/
.card-body-side{
    position: relative;
    display: flex;
    margin: 20px 25px 20px 20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: solid var(--box-side-color);
    background-clip: border-box;
    border-radius: 15px 15px 15px 15px;
}
.data{
    display: none;
}
.data-kategori{
    display: none;
}
/*---------------------------------------------*/
.card-body-sd{
    position: relative;
    display: flex;
    margin: 20px 25px 20px 20px;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 15px 15px 15px 15px;
}
/*---------------------------------------------*/

.card-body{
    flex: 1 1 auto;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*Form Control*/
.form-control-side{
    display: block;
    width: 97%;
    margin: 6px 0 10px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--media-color);
    outline-color: var(--media-color);
    appearance: none;
    border-radius: 10px;
    padding: 0.65rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-side1{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--media-color);
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: var(--media-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
}

.form-control-bio{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--box-side-color);
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: var(--box-side-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
}

.form-control-1{
    display: block;
    width: 55%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--box3-color);
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: var(--box3-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
}

.form-control1{
    display: block;
    width: 52%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--box1-color);
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: var(--media-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
}

.form-control-luas{
    margin-left: 14px;
    width: 23.2%;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--media-color);
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: var(--media-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
}
/*---------------------------------------------*/

/*--------------Text-------------*/
.text{
    color: var(--text4-color);
    margin-left: 15px;
    font-size: 22;
}
.text-1{
    font-weight: bold;
    font-family: serif;
    margin-left: 20px;
    font-size: 20;
    color: var(--text4-color);
}
.text1{
    color: var(--text4-color);
    margin-left: 15px;
    font-size: 22;
}
.text-2{
    font-weight: bold;
    font-family: serif;
    margin-left: 20px;
    font-size: 20;
    color: var(--text4-color);
}
.title{
    padding: 10px 0 10px 20px;
}
.title-sub{
    padding: 10px 45px 10px 0;
    position: relative;
}
.title-radio{
    padding: 10px 0 20px 0;

}
.title-1{
    padding: 10px 0 10px 10px;
    position: relative;
    margin-right: 60px;
}
.title-2{
    position: relative;
    margin-left: 50px;
}
.form .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.kg{
    color: var(--text4-color);
    margin-left: 1px;
    font-size: 22;
}

.luas{
    color: var(--text4-color);
    margin-left: 10px;
    font-size: 22;
}

.praf{
    color: var(--text4-color);
    font-size: 22;
    font-weight: bold;
    font-family: serif;
}

.tbio{
    margin-bottom: 12px;
}
/*---------------------------------------------*/
/*Button*/
.tambah {
    margin-top: 20px;
    background-color: var(--box1-color);
    padding: 16px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 18;
    width: 18%;
}
.Ubah {
    margin-top: 20px;
    background-color: #F9D923;
    padding: 16px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 18;
    width: 18%;
}
.Reset {
    margin-top: 20px;
    background-color: #EB5353;
    padding: 16px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 18;
    width: 18%;
}
.button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    margin-bottom: 20px;
}
.cari {
    display: block;
    width: 7rem;
    margin-right: 22rem;
    margin-top: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #FFF;
    background-clip: padding-box;
    outline-color: var(--box1-color);
    appearance: none;
    border-color: var(--border1-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*---------------------------------------------*/
/*Radio Button*/
.radio{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 10px;
    margin-left: 6px;
}
.form-check-input {
    --size: 20px;
    min-width: var(--size);
    height: var(--size);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    padding-left: var(--size);
    
}
.form-check-label {
    color: var(--text4-color);
    flex-direction: row;
    justify-content: space-around;
    font-size: 18;
}
.form-check-label1 {
    color: var(--text4-color);
    flex-direction: row;
    justify-content: space-around;
    font-size: 18;
}
/*---------------------------------------------*/
/* SUB CLASS */
.sub-class{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.sub-class-1{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.sub-class-bottom{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 15px;
}
.form-control-dua{
    display: block;
    width: 450px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--box1-color);
    appearance: none;
    border-color: var(--border1-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-blue{
    display: block;
    width: 450px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--panel1-color);
    appearance: none;
    border-color: var(--panel1-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-orange{
    display: block;
    width: 450px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--box3-color);
    appearance: none;
    border-color: var(--box3-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bio{
    margin-left: auto;
    margin-right: auto;
}

.gender{
    margin-top: 12px;
}

.bbeton{
    margin-top: 12px;
}

.lainnya{
    margin-top: 12px;
}

/* ------------BOX---------------- */
.select-box {
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-left: 16px;
}
.select-box1 {
    background: #ececec;
}
.select,
.label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
    display: block;
    width: 450px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: var(--box1-color);
    appearance: none;
    border-color: var(--border1-color);
    border-radius: 10px;
    padding: 0.65rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.open .label::after {
     content: "▲";
}
.label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
}

