*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color     : #0E4BF1;
    --panel-color       : #FFF;
    --panel1-color      : #4CACBC;
    --text-color        : #000;
    --text1-color       : #FFF;
    --text2-color       : #9EB23B;
    --text3-color       : #EEEEEE;
    --text4-color       : #1D5C63;
    --black-light-color : #707070;
    --border-color      : #e6e5e5;
    --border1-color     : #95CD41;
    --toggle-color      : #DDD;

    --box1-color        : #95CD41;
    --box2-color        : #92B4EC;
    --box3-color        : #FF7F3F;
    --box4-color        : #CDB699;
    --box5-color        : #6CC4A1;
    --box6-color        : #FD5D5D;
    --box7-color        : #B2EA70;
    --box8-color        : #9AE66E;
    --box9-color        : #839AA8;
    --box10-color       : #809A6F;
    --box-side-color    : #EC9B3B;
    --box-side1-color   : #FBD148;
    --box-side2-color   : #377D71;
    --title-icon-color  : #fff;

    --box-btn1-color    : #FAC213;
    --box-btn2-color    : #187498;
    --box-btn3-color    : #EB5353;

    --media-color       : #B2EA70;
    --media1-color      : #A0D995;

    --view-color        : #D9F8C4;
    --view-color1       : #B8F1B0;
    --view-color2       : #B7D3DF;
    --view-color3       : #D6EFED;
    --view-color4       : #FFB344;
    --view-color5       : #FFE194;
    --view-color6       : #CEE5D0;
    --view-color7       : #D8F7F4;
    --view-color8       : #D8CCA3;
    --view-color9       : #EDDFB3;
    --view-color10      : #CEF7B3;
    --view-color11      : #96B681;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;

    /* ====== Color button ====== */
	--c-text-primary            : #282a32;
	--c-text-secondary          : #686b87;
	--c-text-action             : #404089;
	--c-accent-primary          : #434ce8;
	--c-border-primary          : #eff1f6;
	--c-background-primary      : #ffffff;
	--c-background-secondary    : #fdfcff;
	--c-background-tertiary     : #ecf3fe;
	--c-background-quaternary   : #e9ecf4;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color     : #3A3B3C;
    --panel-color       : #242526;
    --text-color        : #CCC;
    --text1-color       : #CCC;
    --text2-color       : #3A3B3C;
    --text3-color       : #CCC;
    --text4-color       : #CCC;
    --black-light-color : #CCC;
    --border-color      : #4D4C4C;
    --toggle-color      : #FFF;
    --box1-color        : #3A3B3C;
    --box2-color        : #3A3B3C;
    --box3-color        : #3A3B3C;
    --box4-color        : #3A3B3C;
    --box5-color        : #3A3B3C;
    --box6-color        : #3A3B3C;
    --box7-color        : #3A3B3C;
    --box8-color        : #3A3B3C;
    --box9-color        : #3A3B3C;
    --box10-color       : #3A3B3C;
    --panel1-color      : #3A3B3C;
    --media-color       : #3A3B3C;
    --media1-color      : #3A3B3C;
    --box-side-color    : #3A3B3C;
    --box-side1-color   : #3A3B3C;
    --box-side2-color   : #3A3B3C;
    --view-color        : #3A3B3C;
    --view-color1       : #3A3B3C;
    --view-color2       : #3A3B3C;
    --view-color3       : #3A3B3C;
    --view-color4       : #3A3B3C;
    --view-color5       : #3A3B3C;
    --title-icon-color  : #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    height: 36px;
    border-radius: 50%;
}
.form-control{
    border-color: #e4e6ef;
    border-radius: 10px;
    padding: 0.65rem 1rem;
}
